name: SQL Linting

on: [pull_request]

jobs:
  lint-models:
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v4"

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v41
        with:
            files: models/**/*.sql

      - name: Create dbt profiles.yml
        env: # Use the secrets defined in GitHub Settings
          DB_HOST: ${{ secrets.DBT_HOST }}
          DB_HTTP_PATH: ${{ secrets.DBT_PATH }}
          DB_CI_TOKEN: ${{ secrets.DBT_TOKEN }}
          DBT_CATALOG: ${{ secrets.DBT_CATALOG }}
        run: |
          mkdir -p ~/.dbt
          cat << EOF > ~/.dbt/profiles.yml
          veolia_lakehouse: # Must match the name in your dbt_project.yml
            target: dev
            outputs:
              ci_target:
                type: databricks
                schema: default
                threads: 1
                catalog: $DBT_CATALOG
                host: $DBT_HOST
                http_path: $DBT_PATH
                token: $DBT_TOKEN
          EOF

      - name: Install SQLFluff & lint files
        # Only run this step if the 'changed-files' action found files
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          # 1. Install SQLFluff
          pip install click==8.3.0
          pip install sqlfluff==3.5.0
          pip install sqlfluff-templater-dbt
          pip install dbt-databricks
          # 2. Lint only the changed files.
          export DBT_PROFILES_DIR=.
          sqlfluff lint ${{ steps.changed-files.outputs.all_changed_files }} --format github-annotation-native


#py -m sqlfluff lint models